@import"https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap";*{box-sizing:border-box}html{min-height:100vh;line-height:1.3}body{margin:0}
