@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  line-height: 1.3;
}

body {
  /* padding-top: 50px; */
  margin: 0;
}

.underline {
  text-decoration: underline;
  text-decoration-color: #04c2df;
  text-decoration-thickness: 3px;
  color: black;
  cursor: pointer;
}

.underline-disabled {
  text-decoration-color: rgb(158, 158, 158);
  color: rgb(158, 158, 158);
  cursor: initial;
}
